/* https://flatuicolors.com/palette/de */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --dark-spring-green: #04724D;
  --title-color: #EDEAD0;
  --cadet: #586F7C;
  --powder-blue: #B8DBD9;
  --ghost-white: #F4F4F9;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

header {
  padding: .25em;
  background-color: var(--dark-spring-green);
  height: 70px;
  margin-bottom: 30px;
}

header>span {
  font-size: 24px;
  color: #fff;
  margin-left: 20vw;
  height: 70px;

  display: flex;
  align-items: center ;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex-direction: column;
}

.modal {
  background-color: #F4F4F9;
  border-radius: 5px;
  padding: 1em;
  margin: 2em;
  position: relative;
  box-shadow: 0px 0px 23px -15px black;

  min-height: 300px;
  width: 300px  
}

.modal .bt-close {
  position: absolute;
  height: 1em;
  width: 1em;
  right: .5em;
  top: .5em;
  border-radius: 25%; 
  color: var(--dark-spring-green);
  background-color: var(--powder-blue);
  cursor: pointer;
}

.modal h1 {
  display: block;
  margin: 0 0 .25em 0;
  padding: 0;
}

.modal > form > div {
  margin-bottom: 1em;
}

.modal form > div > label {
  display: block;
}

.modal > form > div > input {
  width: 100%;
  height: 30px;
  padding: 12px;
  border-radius: 16px;  
  background-color: var(--powder-blue);
}

div.action {
  display: flex;
  justify-content: flex-end;
}

.cover {
  background-color: var(--powder-blue);
  width: 425px;
  height: 55px;
  
  
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;

}

input {
  font-family: 'Roboto', sans-serif;
  background-color: var(--cadet);
  color: #fff;
  border: none;
  margin: 0;
}

::placeholder {
  color: #fff
}

.input-box input {
  width: 330px;
  height: 40px;

  padding-left: 16px;
  border-radius: 16px 0 0 16px;
}

input:focus { 
  outline: none;
}

button {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bt-search {
  background-color: var(--cadet);
  height: 40px;
  width: 40px;
} 

.bt-add {
  background-color: var(--cadet);
  height: 40px;
  width: 40px;
  font-size: 30px;
  font-weight: 100;
  color: var(--title-color);
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}

.bt-save {
  padding: 8px;
  background-color: var(--cadet); 
  color: var(--ghost-white);
  border-radius: 8px;
  cursor: pointer;
}

.bt-search img {
  width: 20px;
  height: 20px;
}